.dialogContent {
    max-width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: visible;
}

.textarea {
    width: 100%;
    height: 8rem;
    padding: 0.5rem 0.75rem;
    border: 1px solid #D1D5DB;
    border-radius: 0.375rem;
    resize: none;
    outline: none;
    transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

.textarea:focus {
    border-color: transparent;
    box-shadow: 0 0 0 2px #3B82F6;
}

.minH100px {
    min-height: 150px;
    grid-column: span 12 / span 12;
}

.subFormContainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 2rem;
    row-gap: 1rem;
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    text-align: left;
    color: #0C4A6E;
    margin-bottom: 1.5rem;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* gap-2 → 0.5rem */
}


@media (min-width: 640px) {
    .dialogContent {
        max-width: 500px;
    }
}

@media (min-width: 768px) {
    .titleContainer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        /* gap cambia a 1rem en md → opcional */
    }
}