.dialogContent {
    overflow-y: auto; 
    overflow-x: visible; 
    max-height: 100vh;
    
    @media (min-width: 640px) { 
      max-width: 500px;
     }
}

.textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.textareaContainer {
    min-height: 150px;
    grid-column: span 12 / span 12; 
}

.grid {
    display: grid; 
    grid-template-columns: repeat(12, minmax(0, 1fr)); 
    column-gap: 2rem; 
    row-gap: 1rem; 
}
