.button {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;}

.label {
    display: flex;
    justify-content: center;
    margin-top: 0.3rem;
    margin-bottom: 0rem;
    padding: 1.2rem;
    border: none;
    font-size: 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.5s ease;

    background: linear-gradient(135deg, #00b3bc, #72c9e5);
    color: #ffffff;
}

.label:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(250, 249, 249, 0.1);
}

.label:active {
    transform: translateY(1px);
    box-shadow: 0 2px 8px rgba(250, 249, 249, 0.1);
}

.label:focus {
    outline: 2px solid #3b82f6;
    outline-offset: 2px;
}

.label:disabled {
    background: linear-gradient(135deg, #9ca3af, #9ca3af);
    cursor: not-allowed;
    opacity: 1;
}




