
.contentContainer {
    max-height: 90vh;
    overflow-y: auto;

    overflow-x: visible;
}

.formContainer {
    min-width: auto;
}

.subFormContainer {
    min-width: auto;

}

.minH100px {
    min-height: 100px;
}

.subFormContainerSplit {
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    row-gap: 1rem;
    margin-bottom: 1.5rem;
}

.input {
    padding-left: 2rem;
    width: 100%;
    height: 2.5rem;
    border: 1px solid #dbdbdb;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    
    /* Estados de foco */
    &:focus {
        outline: none;
        box-shadow: 0 0 0 2px #3b82f6;
        border-color: #3b82f6;
    }
}

@media (min-width: 768px) {
    .subFormContainerSplit {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 2rem;
        row-gap: 1rem;
    }
}