.infoGroup {
    :where(& > :not(:last-child)) {
        --tw-space-y-reverse: 0;
        margin-block-start: calc(calc(var(--spacing) * 3) * var(--tw-space-y-reverse));
        margin-block-end: calc(calc(var(--spacing) * 3) * calc(1 - var(--tw-space-y-reverse)));
    }
}

.infoGroupLarge {
    :where(& > :not(:last-child)) {
        --tw-space-y-reverse: 0;
        margin-block-start: calc(calc(var(--spacing) * 6) * var(--tw-space-y-reverse));
        margin-block-end: calc(calc(var(--spacing) * 6) * calc(1 - var(--tw-space-y-reverse)));
    }
}

.infoCard {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    border-style: var(--tw-border-style);
    border-width: 1px;
    border-color: #f3f4f6;
}

.infoCard:hover {
    background-color: #f9fafb;
}

.iconWrapper {
    background-color: #dbeafe;
    padding: 0.5rem;
    border-radius: calc(infinity * 1px);
}

.infoCardIcon {
    width: 1.25rem; 
    height: 1.25rem; 
    color: #2563EB; 
}

.infoCardText {
    display: flex; 
    flex-direction: column; 
}

.infoCardLabel {
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 500; 
    color: #374151; 
}

.infoCardValue {
    font-size: 1rem;
    line-height: 1.5rem; 
    font-weight: 600; 
}

.locationGroup {
    :where(& > :not(:last-child)) {
        --tw-space-y-reverse: 0;
        margin-block-start: calc(calc(var(--spacing) * 3) * var(--tw-space-y-reverse));
        margin-block-end: calc(calc(var(--spacing) * 3) * calc(1 - var(--tw-space-y-reverse)));
    }
}

.locationCard {
    display: flex; 
    padding: 0.75rem; 
    gap: 0.75rem; 
    align-items: center; 
    border-radius: 0.375rem; 
    border-width: 1px; 
    border-color: #F3F4F6; 
}

.locationCard:hover {
    background-color: #f9fafb;
}

.galleryWrapper {
    flex-grow: 1;
}

.descriptionBox {
    padding: 0.75rem; 
    border-radius: 0.375rem; 
    border-width: 1px; 
    border-color: #F3F4F6; 
    background-color: #F9FAFB; 
}

.descriptionParagraph {
    line-height: 1.625; 
    color: #374151; 
}

.sectionIcon {
    width: 1.25rem; 
    height: 1.25rem;
    color: var(--primary); 
}