.grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

/* Para pantallas medianas y grandes (≥768px) */
@media (min-width: 768px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        column-gap: 2rem;
        row-gap: 1rem;
    }
}